# Rename this file to .env
TRUSTED_BTC_REGTEST_PEER=host.docker.internal
TRUSTED_BTC_REGTEST_PEER_PORT=8333
DUCATUSCORE_CONFIG_PATH=~/ducatuscore.config
# local || dev || prod
MODE=dev
DUC_NODE_URL=ducapi.rocknblock.io
DUCX_NODE_URL=ducapi.rocknblock.io
DUC_NODE_PROTOCOL=https
DUCX_NODE_PROTOCOL=https
DUCX_WS_NODE_PROTOCOL=wss
DUC_WS_NODE_PROTOCOL=wss
NODE_WHITE_LIST=::ffff:127.0.0.1,::1,::ffff:176.223.136.183,::ffff:89.40.9.174,::ffff:144.76.34.104
FCM_KEY=
SOCKET_API_KEY=
DWS_KEYS=
DB_HOST=localhost
MSG_HOST=localhost
MSG_PORT=3381
DWS_PORT=3233