# Rename this file to .env
TRUSTED_BTC_REGTEST_PEER=host.docker.internal
TRUSTED_BTC_REGTEST_PEER_PORT=8333
DUCATUSCORE_CONFIG_PATH=~/ducatuscore.config
# local || dev || prod
MODE=dev
DUCX_NODE_PROD_URL=https://ducapi.rocknblock.io
DUCX_NODE_DEV_URL=http://dev-wallet3-node.rocknblock.io
DUCX_NODE_LOCAL_URL=http://localhost:3000
DUC_NODE_PROD_URL=https://ducapi.rocknblock.io
DUC_NODE_DEV_URL=http://dev-wallet3-node.rocknblock.io
DUC_NODE_LOCAL_URL=http://localhost:3000
DUCX_MIN_GAS_PRICE_MAINNET=47619047619048
DUCX_MIN_GAS_PRICE_TESTNET=47619047619048
NODE_WHITE_LIST=::ffff:127.0.0.1,::1,::ffff:176.223.136.183,::ffff:89.40.9.174,::ffff:144.76.34.104
FCM_KEY=